langchain-core
streamlit
langchain-groq
pypdf
python-dotenv
langchain-openai
langchain-community
langchain
langchain-chroma
langchain_huggingface
sentence-transformers
ipykernel
wikipedia
langchain-text-splitters
arxiv
faiss-cpu